.containerone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: pink;
    justify-content:flex-end;
    align-content: center;
    height: 100px;
}
.flexthree {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.flex-item flexfourth {
    display: flex;
   align-items: flex-start;

    
}
.containerone img {
height: 80px;
}

.containertwo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(99, 2, 18);
    width: 300px;
}
.containertwo img {
    width: 80px;
    }

.flexfive img{
width: 200px;
align-self: center;
flex-grow: 2;


}
.flexsix img, .flexseven img, .flexeight img{
    width: 30px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    position:static;
    

}


    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    











    .footer{
        height: auto;
        background-color: rgb(105, 104, 104);
        color: rgb(80, 25, 70);
        text-align: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
      }