.containerone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: pink;
}
.flexthree {
    -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
.flexfourth {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
    flex-shrink: 1;
}
.containerone img {
    width: 60px;
}
.containertwo img {
    height: 40px;
}
.containertwo {
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 25, 70);
    height: 400px;
    width: 200px;
    background-image: url('images/coin.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.flexfive, .flexsix, .flexseven {
  display: flex;
  justify-content: center;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  flex-shrink: 1;
}

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    

    .footer{
        height: auto;
        background-color: rgb(105, 104, 104);
        color: rgb(80, 25, 70);
        text-align: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
      }