.containerone {
   background-color: pink;
   block-size: 100px;
   flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
}
   .container img {
    height: 10px;
    width: 10px;
}
.containertwo {
    background-color: rgb(189, 30, 221);
    block-size: 100px;
    flex-direction: column;
    justify-content:flex-end;
    align-items:stretch
     flex-wrap: wrap;
 }
















    .footer{
        height: auto;
        background-color: rgb(105, 104, 104);
        color: rgb(80, 25, 70);
        text-align: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
      }